.modal {
  display: block;
  position: absolute;
  top: 10vh;
  left: 5vw;
  right: 5vw;
  padding: 8px 8px 45px 8px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;

  h2 {
    font-size: 1rem;
    font-weight: 300;
  }

  form {
    > span {
      display: block;
      margin: 1rem 0;
    }

    .radio-group {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(2, 50%);

      > div {
        display: flex;
      }

      input {
        margin-top: 6px;

        &:not(.disabled) {
          cursor: pointer;
        }
      }

      label {
        padding: 4px 0.5rem;
        margin: 0 1rem 0 0;

        &:not(.disabled) {
          cursor: pointer;
        }
      }
    }

    label {
      display: block;
      font-size: 0.8rem;
      margin-bottom: 1rem;
    }

    #tSoll {
      width: 100%;
    }

    #submit-button {
      padding: 0.5rem 1rem;
      position: absolute;
      right: 8px;
      bottom: 8px;
    }
  }
}

.modal-stage {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fafafa;
  opacity: 0.5;
}
